<!DOCTYPE html>
<!DOCTYPE html>
<html lang="pt-br  ">
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.map.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/print.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/site.css')}}" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resumo</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="css/font-awesome/css/all.min.css?ver=1.2.0" rel="stylesheet">
    <link href="css/bootstrap.min.css?ver=1.2.0" rel="stylesheet">
    <link href="css/aos.css?ver=1.2.0" rel="stylesheet">
    <link href="css/main.css?ver=1.2.0" rel="stylesheet">

    <noscript>
      <style type="text/css">
         {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header class="d-print-none">
      <div class="container text-center text-lg-left">
        <div class="py-3 clearfix">
          <h1 class="site-title mb-0">Informações Gerais</h1>
          <div class="site-nav">
            <nav role="navigation">
              <ul class="nav justify-content-center">

                </li>

                </li>

                </li>
                <li class="nav-item"><a class="nav-link" href="/" title="Guinb.pythonanywhere.com"><span class="menu-title sr-only">Guinb.pythonanywhere.com</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="page-content">
      <div class="container">
<div class="cover shadow-lg bg-white">
  <div class="cover-bg p-3 p-lg-4 text-white">

    <div class="row">
      <div class="css-after-gradiant">
      <div class="col-lg-4 col-md-5">
          </div>
      </div>
       <div class="profile-pic"> <style>
    .profile-pic {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      margin: 0 auto;

    }

    .profile-pic img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;

    }
  </style>
            <img src="{{url_for('static', filename='avatar.jpg')}}"/>
          </div>
      <div class="col-lg-8 col-md-7 text-center text-md-start">
        <h2 class="h1 mt-2" data-aos="fade-left" data-aos-delay="0">Guilherme Nunes </h2>
        <p data-aos="fade-left" data-aos-delay="100"> Web Developer</p>
        <div class="d-print-none" data-aos="fade-left" data-aos-delay="200"><a class="btn btn-light text-dark shadow-sm mt-1 me-1" href="{{url_for('static',filename='right-resume.pdf')}}" target="_blank">Baixar Currículo</a><a class="btn btn-success shadow-sm mt-1" href="contato">Fale comigo</a></div>
      </div>
    </div>
  </div>
  <div class="about-section pt-4 px-3 px-lg-4 mt-1">
    <div class="row">
      <div class="col-md-6">
        <h2 class="h3 mb-3">Sobre mim</h2>
        <p> Sou um estudante de TI, aprimorando meus conhecimentos na área, em busca de me tornar um programador melhor. Procuro oportunidade de aplicar meus conhecimentos adquiridos no mercado de trabalho.</p>
      </div>
      <div class="col-md-5 offset-md-1">
        <div class="row mt-2">
          <div class="col-sm-4">

            <div class="pb-1">Idade:</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary">19</div>
          </div>
          <div class="col-sm-4">
            <div class="pb-1">Email:</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary">guilhermenunesfev26@gmail.com</div>
          </div>
          <div class="col-sm-4">
            <div class="pb-1">Telefone:</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary">(+55) 61 99546-2222</div>
        </div>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="skills-section px-3 px-lg-4">
    <h2 class="h3 mb-3">Minhas Habilidades</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-2"><span>HTML</span>
          <div class="progress my-1">
            <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="100" data-aos-anchor=".skills-section" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>CSS</span>
          <div class="progress my-1">
            <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="200" data-aos-anchor=".skills-section" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>JavaScript</span>
          <div class="progress my-1">
            <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="300" data-aos-anchor=".skills-section" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-2"><span>Python</span>
          <div class="progress my-1">
            <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="400" data-aos-anchor=".skills-section" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>Power BI</span>
          <div class="progress my-1">
            <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="500" data-aos-anchor=".skills-section" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>Excel</span>
          <div class="progress my-1">
            <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="500" data-aos-anchor=".skills-section" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="work-experience-section px-3 px-lg-4">
    <h2 class="h3 mb-4">Meus Projetos</h2>
    <div class="timeline">
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Site De Vendas <span class="text-muted h6"></span></div>
          <div class="text-muted text-small mb-2">2022-2023</div>
          <div>Uma loja completa de carros para todos os públicos, de simples usuários a colecionadores. Uma loja híbrida, com peças, carros semi novos, novos e usados, além do  suporte adequado de profissionais. Você pode acessá-lo pelo link :  https://marvelous-snickerdoodle-497d82.netlify.app</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Tabelas Em Power BI <span class="text-muted h6"></span></div>
          <div class="text-muted text-small mb-2">2023</div>
          <div>Power BI</div>
        </div>
      </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="page-break"></div>
  <div class="education-section px-3 px-lg-4 pb-4">
    <h2 class="h3 mb-4">Formação e Certificados</h2>
    <div class="timeline">
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Cursando Terceiro Semestre de Ciência da Computação <span class="text-muted h6">UCB</span></div>
          <div class="text-muted text-small mb-2">2022 - 2025</div>
          <div>Universidade Católica De Brasília</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">  <span class="text-muted h6"></span></div>
          <div class="text-muted text-small mb-2"></div>
          <div><a href='https://www.linkedin.com/learning/certificates/4710e7e3c8d7bc263c44a8378cba4f212c447e73c38301dc1003c3deff844490'>
            <img src="https://media.licdn.com/dms/image/D4D1FAQGuSeSAX5JwAQ/feedshare-document-cover-images_1280/0/1682363700913?e=1686409200&v=beta&t=HGYMsSDLHR2cbnF1IWB8f5XmEUe_NvCEMbLXr0FrMCQ" width="700" height="500">
         </div>
        </div>
        </div>
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1"> <span class="text-muted h6"></span></div>
          <div class="text-muted text-small mb-2"></div>
          <div><a href='https://www.udemy.com/certificate/UC-b1a41a68-5c10-405c-a173-87c62ce8f8d1/'>
            <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-b1a41a68-5c10-405c-a173-87c62ce8f8d1.jpg?v=1679690156000" width="700" height="500">
         </div>
        </div>
        </div>


        <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1"> <span class="text-muted h6"></span></div>
          <div class="text-muted text-small mb-2"></div>
          <div><a href='https://www.linkedin.com/learning/certificates/24739f3614ef62dc7db23606737d51630ed9040e39a7ec30855af5bea48985fc'>
            <img src="https://media.licdn.com/dms/image/D4D1FAQH8q9OWv_cipg/feedshare-document-cover-images_1280/0/1682297174646?e=1686409200&v=beta&t=hLumFzFn8GcZI0jj3fndN571-t3PQHsFRctzaIs9nyE" width="700" height="500">
         </div>
        </div>
        </div>

        <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1"> <span class="text-muted h6"></span></div>
          <div class="text-muted text-small mb-2"></div>
          <div><a href='https://www.linkedin.com/learning/certificates/ab1b11548c9acfa3a1ee9aa64b1ed405ec093a8046496adb35dc5030b5732198'>
            <img src="https://media.licdn.com/dms/image/D4D1FAQF1dsOhDCk25w/feedshare-document-cover-images_1280/0/1682551034495?e=1686409200&v=beta&t=Y9hyuLZSgIj0Cgat8DRIyfDlnRiRJdP2MZ3NvhRnqOs" width="700" height="500">
         </div>
        </div>
        </div>

        <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1"> <span class="text-muted h6"></span></div>
          <div class="text-muted text-small mb-2"></div>
          <div><a href='https://www.linkedin.com/learning/certificates/bf5bc1e9e9ccdfc8236f2d0ca0bb315e1d762f9e6a4b3fd3cf9c76676f5e2969'>
            <img src="https://media.licdn.com/dms/image/D4D1FAQGb48mKt-HS0w/feedshare-document-cover-images_1280/0/1682458937366?e=1686409200&v=beta&t=II6LpoIb8X9cegl0wDV24z09HE2A1ZFdQM7Fes26NPg" width="700" height="500">
         </div>
        </div>
        </div>





  <hr class="d-print-none"/>

            </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="pt-4 pb-4 text-muted text-center d-print-none">
      <div class="container">
        <div class="my-3">
          <div class="h4">Guilherme N</div>
          <div class="footer-nav">
            <nav role="navigation">
              <ul class="nav justify-content-center">


                <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/guilherme-nunes-bezerra-478518201/" title="Linkedin"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">Linkedin</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/guilherme_nun3s/" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://github.com/guinb0" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="text-small">

        </div>
      </div>
    </footer>
    <script src="scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
    <script src="scripts/aos.js?ver=1.2.0"></script>
    <script src="scripts/main.js?ver=1.2.0"></script>
  </body>
</html>