<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/sobre.css')}}" />

    <title>Livro Animado</title>
  </head>
  <body>
    <div class="card">
      <div class="cover">
        <img src="{{url_for('static', filename='aaaa.jpg')}}" width="50" height="50"/>
        <img src="{{url_for('static', filename='bbb.jpg')}}" width="50" height="50"/>
      </div>
      <div class="content">
        <h2>Sobre </h2>
        <p>
          Estou em busca de aprimorar cada vez mais meus conhecimentos na área de tecnologia. Buscando oportunidades, estou disposto a aprender mais em cada área de conhecimento. Comecei meus estudos com orientação à objetos em python e, a medida que fui aprendendo, expandi meu leque de conhecimentos para Power BI, Automação de dados, Front-End e desenvolvimento de jogos. Já trabalhei para "Amaze", uma agência de viagens, na equipe de marketing. Busco experiência e oportunidade para mostrar meu trabalho e progredir dentro da área da tecnologia.
        </p>
      </div>
    </div>
  </body>
</html>